body{
	background-image: url("bg.jpg");
	position: relative;
} 

#tb{
	color: darkred;
	font-size: 40px;
	font-weight: 100;
	padding-top: 30px;
	padding-bottom: 50px;
}

a{
	text-decoration: none;
}

#title{
	padding-top: 40px;
	padding-left: 250px;
}

#avatar{
	height: 220px;
	width: 200px;
	border-radius: 10%;
}

.stitle{
	padding: 25px;
	color: white;
	font-weight: 900;
	font-size: 40px;
	letter-spacing: 0.2em;
}

#about{
	padding-top: 100px;
	text-align: center;
	width: 100vw;
	height: 100vh;
	opacity: 0.9;
}

#thoughts,#skills,#projects{
	text-align: center;
	width: 100vw;
	height: 50vh;
	opacity: 0.9;
}

#projects{
	height: 75vh;
}

#contact{
	padding-top: 20px;
	text-align: center;
	width: 100vw;
	height: 55vh;
	opacity: 0.9;
}

.content{
	text-align: center;
	color: green;
	letter-spacing: 0.2em;
	font-size: 1.4em;
	margin-left: 7%;
	margin-right: 7%;
}

.contactLinks{
	color: blue;
	font-size: 25px;
	padding: 30px;
}

.contactLinks:visited{
	color: blue;
}

footer{
	color: darkred;
	letter-spacing: 0.1em;
	text-align: left;
	font-weight: 800;
}