body{
	background-image: url("bg.jpg");
	position: relative;
} 

img:alt{
	color: white;
}

#tb{
	color: darkred;
	font-size: 2.5em;
	font-weight: 100;
	padding-top: 30px;
	padding-bottom: 50px;
}

a{
	text-decoration: none;
}

#avatar{
	height: 220px;
	width: 200px;
	border-radius: 10%;
}

.stitle{
	padding: 25px;
	color: white;
	font-weight: 900;
	font-size: 2.5em;
	letter-spacing: 0.2em;
}

#about{
	padding-top: 100px;
	text-align: center;
	width: 100vw;
	height: 100vh;
	opacity: 0.9;
}

#thoughts,#skills,#projects{
	text-align: center;
	width: 100vw;
	height: 50vh;
	opacity: 0.9;
}

#projects{
	height: 75vh;
}

#contact{
	padding-top: 20px;
	text-align: center;
	width: 100vw;
	height: 55vh;
	opacity: 0.9;
}

.content{
	text-align: center;
	color: green;
	letter-spacing: 0.2em;
	font-size: 1.4em;
	margin-left: 7%;
	margin-right: 7%;
}

.contactLinks{
	color: blue;
	font-size: 1.56em;
	padding: 2%;
}

.contactLinks:visited{
	color: blue;
}

footer{
	color: darkred;
	letter-spacing: 0.1em;
	text-align: left;
	font-weight: 800;
}

@media only screen and (max-width: 500px){
	#tb{
		font-size: 2em;
		font-weight: 100;
	}

	.stitle{
		font-size: 2em;
	}

	#thoughts{
		height: 70vh;
	}

	#skills{
		height: 40vh;
	}

	#projects{
		height: 50vh;
    }

    #contact{
    	height: 40vh;
    }

    .content{
    	font-size: 1.15em;
    }

    footer{
    	font-size: 0.8em;
    }
}